<% content_for :title, "Editing bean" %>

<h1>Editing bean</h1>

<%= render "form", bean: @bean %>

<br>

<div>
  <%= link_to "Show this bean", @bean %> |
  <%= link_to "Back to beans", beans_path %>
</div>
